.Navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 6vh;
}

.Navbar-logo {
  display: flex;
  align-items: center;
  margin-right: 15px;
  padding: 0 13px;
  height: 100%;
  font-size: 22px;
  background-color: #eceff1;
  font-family: Roboto;
}

.Navbar-logo a {
  text-decoration: none;
  color: black;
}

.slider {
  width: 340px;
  margin: 0 10px;
  display: inline-block;
}

.select-container {
  margin-left: auto;
  margin-right: 1rem;
}
